body{
    background-color: #fcfcfc;
}
.wrapper {
    background-color: #fcfcfc;
    margin: -2em 3.33em -2em 3.33em;
    padding: 1em;
}
div {
    display: inline block;
}
/*NAVBAR*/
ul {
    list-style: none;
    display: inline-block;
}
li {
    list-style: none;
    display: inline-block;
}
div.logo {
    padding: 1.5em 1.5em 1.5em 1.5em;
    position: relative;
    top: -.666em;
}
h5 {
    font-size: 24pt;
    display: inline;
    position: relative;
    top: -1.25em;
    font-family: 'Audiowide', cursive;
}
h6 {
    font-size: 24pt;
    display: inline-block;
    position: relative;
    top: -1.25em;
    font-family: 'Zen Kurenaido', sans-serif;
}
div.iconList{
    float: right;
    position: relative;
    top: -10.2em;
}
ul.iconList {
    display: inline-block;
    padding: 1em;
}
li.iconList {
    display: inline-block;
    padding: 1em;
    margin:auto;
}
hr {
    width: 90em;
    position: relative;
    top: -10em;
    left: -5em;
}
div.products{
    display: inline-block;
    position: relative;
    top: -7.5em;
    font-size: 18pt;
}
li.products {
    padding: 0 .6em 0 0 ;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    margin: 0 1.5em;
}
div.account {
    position: relative;
    top: -15em;
    left: 70em
}
ul.account {
}
li.account{ 
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -1em;
}
/*END OF NAVBAR*/
/* BEGIN BODY */
div.banner {
    margin: 6.66em;
    justify-content: space-between;
    position: relative;
    top: -16.66em;
    left: .5em;
}
div.bannerImg {
    display: inline-block;
    justify-self: right;
}
div.collections {
    display: inline-block;
    margin: 0 auto;
    margin: 0em 0em 0em 7em;
    position: relative;
    top: -22em;
}
a {
    color: black;
}
a:hover{
    color: #60CFD9;
    width: auto;
    text-align: center;
}
a:active {
    color: #3e9ba3;
}
img.collections:hover{
    background-color: grey;
    border: solid black 1pt;
}
a.block:hover{
    border: black thick solid;
    background-color: grey;
}
div.collectionImg {
    display: inline-block;
}
/*END BANNER & COLLECTIONS */
div.hero {
    margin: -20em 0em 0em 7em;
    display: inline-block;
    align-items: center;
}
div.heroImage {
    display:inline-block;
}
div.heroText {
    height: 20em;
    width: 20em;
    float: right;
    margin: 6em 6em 6em 6em;
}
a#logo:hover {
    color: black;
}
/*HERO TEXT*/
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
p {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
}
/*END HERO SECTION*/
/*BEGIN FOOTER */
div.footer {
    position: relative;
    left: -4em;
    font-family: 'Roboto', sans-serif;
    text-align:center;
}
div.Socials{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
ul.footerMenu{
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    font-weight: 300;
    margin-left: 0em;
}
li.footerMenu{
    font-family: 'Roboto', sans-serif;
}
li.footerLink {
    font-family: 'Roboto', sans-serif;
}
ul.FooterLink {
    font-family: 'Roboto', sans-serif;
}
input {
    border: none;
    border-radius: 3pt;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
input#emailInput {
    background-color: grey;
    color: black;
    text-align: left;
}
p.footer {
    font-size: 16pt;
}
button {
    color: white;
    background-color: black;
    border: none;
    border-radius: 3pt;
    text-align: center;
    width: 6em;
    height: 1.5em;
}
button:hover {
    background-color: lightblue;
}
button:active {
    background-color: grey;
}
input:active {
    border: lightblue solid 10pt;
    text-align: right;
}
input:hover {
    border: #60CFD9 solid 10pt;
}
button.submit {
    background-color: #60CFD9;
    width: 4em;
}
i {
    color: grey;
}
i:hover {
    color: #60CFD9
}
 div#grid {
     border: 1pt #60CFD9 solid;
     display: grid;
     width: 66em;
}
div.grid {
    display: inline-block;
    text-align: center;
    margin: 2em;
    position: relative;
    top: -10em;
}
div.grid:hover {
    border: solid 1pt;
}
h8 {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 14pt;
}
h9 {
    
    font-family: 'Oswald', sans-serif;
}
h10 {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 36pt;
    position: relative;
    top: -4.5em;
    left: .9em;
}
/* ACCOUNT PAGE */
div.SignIn {
    margin: auto;
    text-align: center;
    position: relative;
    top: -5em;
}
input#SignIn {
    background-color: lightgrey;
    width: 30em;
    height: 3em;
    margin-bottom: 1em;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 14pt;
    text-align: left;
}
h11 {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 36pt;
    margin-bottom: 3em;
    position: relative;
    top: -1em;
}
button.SignIn {
    width: 30em;
    height: 3em;
    background-color: #60CFD9;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 14pt;
}
button.SignIn:hover {
    background-color: #1e8892;
}

